@import "tailwindcss";

.window-height {
    height: 100dvh;
}

.no-overscroll {
    overscroll-behavior-y: none;
}

.pointer {
    cursor: pointer;
}

.html {
    height: 100%;
    width:100%;
    position: fixed;
    overflow: hidden;
}

.body {
    height: 100%;
}